@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-background;
}

.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Hide scrollbar */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

/* Show scrollbar class */
.show-scrollbar {
    scrollbar-width: thin; /* For Firefox, sets the scrollbar width to a visible state */
    -ms-overflow-style: auto; /* Default for Internet Explorer */

    /* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
}

.show-scrollbar::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar for WebKit */
    height: 12px; /* Height of the scrollbar */
}

.show-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Scrollbar thumb color */
    border-radius: 10px;
}

.show-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Scrollbar track color */
}